ase
black
chemiscope
colorama
e3nn
extxyz
icecream
importlib-metadata
matplotlib
matscipy
netCDF4
nbconvert
numpy
pint
scikit-learn
scipy
seekpath
skmatter
sphinx
spglib
tqdm
torch-geometric
xarray
pytest
phonopy
uncertainties